@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    outline: none;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5rem;
    }
}

section {
    padding: 5rem 9%;
}

$black: #141414;
$colorprimary: #888888;
$color-bg: #f5f6f8;

.btn {
    display: inline-block;
    color: #fff;
    background: #29458e;
    padding: 0.8rem 3rem;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    &:hover {
        background: $black;
    }
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

.header {
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    .social-media {
        a {
            i {
                font-size: 2rem;
                padding-left: 1.5rem;
                color: #fff;
                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
    .header-left {
        #menu-btn {
            color: #fff;
        }
        display: flex;
        a {
            display: flex;
            color: $colorprimary;
            align-items: center;
            padding-left: 1.5rem;
            i {
                margin-right: 1rem;
                font-size: 1.2rem;
            }
            h3 {
                font-weight: 300;
                font-size: 1.2rem;
            }
            &:hover {
                color: #fff;
            }
        }
    }
}

.banner {
    padding: 0;
    margin-top: 5rem;
    .slider {
        min-height: 70vh;
        background-size: cover !important;
        background-position: center !important;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
            max-width: 100rem;
            text-align: center;
        }
    }
}
.company {
    .title_company {
        text-align: center;
        margin-top: 4rem;
        h1 {
            font-size: 4rem;
        }
    }
    .logo_company {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        a {
            padding: 0 15rem;
            img {
                width: 300px !important;
                height: 200px !important;
            }
        }
    }
}

.produts {
    .box-container {
        @include grid(30rem);
    }
    .box {
        padding: 0 5rem;
        margin-top: 10rem;
        background: $color-bg;
        .title {
            text-align: center;
            h1 {
                margin: 2rem 0;
                font-size: 4rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .button {
            margin-top: 2rem;
            text-align: center;
        }
        .image {
            overflow: hidden;
            height: 50vh;
            margin-top: 5.2rem;
        }
        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.footer {
    background: $black;
    padding: 5rem 9%;

    .container-info {
        a {
            display: flex;
            color: $colorprimary;
            align-items: center;
            padding-left: 1.5rem;
            i {
                margin-right: 1rem;
                font-size: 1.2rem;
            }
            &:hover {
                color: #fff;
            }
        }
        display: flex;
        align-items: center;
    }
    .name_company {
        h1 {
            margin-top: 3rem;
            font-size: 3rem;
            color: $colorprimary;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
